@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.Acceuil {
    display: flex;
    background: url("imageportfolio1.jfif") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

.Acceuil .max-width {
    width: 100%;
    display: flex;
}

html {
    scroll-behavior: smooth;
}

section {
    padding: 100px 0;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.stage .left img {
    border-radius: 6px;
    height: 400px;
    width: 400px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


html {
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */
section {
    padding: 100px 0;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}


.stage,
footer {
    font-family: 'Poppins', sans-serif;
}



section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

section .title::after {
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

/* navbar styling */
.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;

}

.navbar.sticky {
    padding: 15px 0;
    background: magenta;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span {
    color: magenta;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
    color: #fff;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 30s ease;
}

.navbar .menu li a:hover {
    color: magenta;
}

.navbar.sticky .menu li a:hover {
    color: #fff;
}

/* menu btn styling */
.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}




.stage .title::after {
    content: "";
}

.stage .carousel .card {
    background: black;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    color: #fff;
    overflow: hidden;
    transition: all 0.3s ease;
}

.stage .carousel .card:hover {
    background: magenta;
}

.stage .carousel .card .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.stage .carousel .card:hover .box {
    transform: scale(1.05);
}

.stage .carousel .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.stage .carousel .card img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid magenta;
    transition: all 0.3s ease;
}

.stage .carousel .card:hover img {
    border-color: #fff;
}

/* teams section styling */
.stage .title::after {
    content: "";
}

.stage .carousel .card {
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}

.stage .carousel .card:hover {
    background: magenta;
}

.stage .carousel .card .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.stage .carousel .card:hover .box {
    transform: scale(1.05);
}

.stage .carousel .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.stage .carousel .card img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid magenta;
    transition: all 0.3s ease;
}

.stage .carousel .card:hover img {
    border-color: #fff;
}

.stage {
    color: #fff;
    background: #111;
}

.stage .title::before {
    background: #fff;
}

.stage .title::after {
    background: #111;
    content: "";
}

.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none !important;
    border-radius: 50%;
    border: 2px solid magenta !important;
    transition: all 0.3s ease;
}

.owl-dot.active {
    width: 35px;
    border-radius: 14px;
}

.owl-dot.active,
.owl-dot:hover {
    background: magenta !important;
}



footer {
    background: #111;
    padding: 15px;
    color: #fff;
    text-align: center;
}

footer social-media a {
    color: magenta;
    text-decoration: none;
    text-align: justify;
    align-items: center;

}

footer social-media i {
    text-decoration: underline;
}